includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
    level: 6
    reportUnmatchedIgnoredErrors: true
    tmpDir: storage/framework/cache/phpstan
